<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>storeWord</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__container">
            <li class="navbar__logo">
                <a href="{{url_for('index')}}" class="navbar__link">storeWord</a>
                <button class="navbar__button open"></button>
            </li>
            <li class="navbar__links">
                {% block links %}{% endblock links %}
            </li>
        </ul>
    </nav>
    <main class="content">
        {% block content %}{% endblock content %}
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>