{% extends "base.html" %}
{% block links %}
    <a href="{{url_for('profile')}}" class="navbar__link">Words</a>
    {% if "user" in session %}
        <a href="{{url_for('logout')}}" class="navbar__link">Logout</a>
    {% else %}
        <a href="{{url_for('login')}}" class="navbar__link">Login</a>
        <a href="{{url_for('signup')}}" class="navbar__link">Sign Up</a>
    {% endif %}
{% endblock links %}
{% block content %}
    <section class="content__left-section">

    </section>
    <section class="content__right-section">

    </section>
<h1>index page</h1>
<p>Some stuff to be added in the future</p>
    <p>Here are the users registered</p>
    <div>
        {% for word in words %}
            <p>{{word}}</p>
        {% endfor %}
    </div>
{% endblock content %}
