{% extends "base.html" %}
{% block links %}
    <a href="{{url_for('profile')}}" class="navbar__link">Words</a>
    <a href="{{url_for('login')}}" class="navbar__link">Login</a>
    <a href="{{url_for('signup')}}" class="navbar__link">Sign Up</a>
{% endblock links %}
{% block content %}
<h1 class="page-title">log in</h1>
<form action={{url_for('login')}} method="POST" class="form">
    <div class="form__field">
        <label for="login" class="form__field-name">Login</label>
        <input type="text" id="login" name="login" class="form__input">
    </div>
    <div class="form__field">
        <label for="password" class="form__field-name">Password</label>
        <input type="password" id="password" name="password" class="form__input">
    </div>
    <a href="{{url_for('signup')}}" class="form__link">create account</a>
    <input type="submit" class="form__submit" value="Login">
</form>
{% endblock content %}