{% extends "base.html" %}
{% block links %}
    <a href="{{url_for('profile')}}" class="navbar__link">Words</a>
    <a href="{{url_for('login')}}" class="navbar__link">Login</a>
    <a href="{{url_for('signup')}}" class="navbar__link">Sign Up</a>
{% endblock links %}
{% block content %}
<h1>Login page</h1>
<form action={{url_for('login')}} method="POST">
    <div>
        <label for="login">Login</label>
        <input type="text" id="login" name="login">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    <input type="submit">
</form>
{% endblock content %}