{% extends "base.html" %}
{% block links %}
    <a href="{{url_for('profile')}}" class="navbar__link">Words</a>
    {% if "user" in session %}
        <a href="{{url_for('logout')}}" class="navbar__link">Logout</a>
    {% else %}    
        <a href="{{url_for('login')}}" class="navbar__link">Login</a>
        <a href="{{url_for('signup')}}" class="navbar__link">Sign Up</a>
    {% endif %}
{% endblock links %}
{%block content %}
<h1 class="page-title">Profile page</h1>
<form       class="form" id="form">
    <div class="form__field">
        <label for="word" class="form__field-name">Word: </label>
        <input type="text" name="word" class="form__input">
    </div>
    <div>
        <input type="submit" class="form__submit">
    </div>
</form>
<div id="word-list">
    {% for word in words %}
    <div class="word-item">
        <p class="word__word" data-id={{word.id}}>{{word.word}}</p>
        <button class="word-item__remove-button">Remove</button>
    </div>
    {% endfor %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/wordsending.js') }}"></script>
{% endblock content %}