{% extends "base.html" %}
{% block links %}
    <a href="{{url_for('profile')}}" class="navbar__link">Words</a>
    <a href="{{url_for('logout')}}" class="navbar__link">Logout</a>
{% endblock links %}
{%block content %}
<h1>Profile page</h1>
<form action="{{url_for('profile')}}" method="POST" class="form">
    <div class="form__field">
        <label for="word" class="form__field-name">Word: </label>
        <input type="text" id="word" name="word" class="form__input">
    </div>
    <div>
        <input type="submit" class="form__submit">
    </div>
</form>
<div>
    {% for word in words %}
        <p>{{word}}</p>
    {% endfor %}
</div>
<!-- <form action={{url_for("profile")}} method="POST">
    <div>
        <label for="old_password">Password</label>
        <input type="password" id="old_password" name="old_password">
    </div>
    <div>
        <label for="new_password">Password</label>
        <input type="password" id="new_password" name="new_password">
    </div>
    <input type="submit">
</form> -->
{% endblock content %}